guidApp_backend/prosumer/src/main/resources/prosumer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:tns="http://it.univaq.disim.sose/prosumer" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  name="prosumer" 
				  targetNamespace="http://it.univaq.disim.sose/prosumer">				     			  
	 <wsdl:types>
	 	<xsd:schema targetNamespace="http://it.univaq.disim.sose/prosumer">
		    <xsd:element name="accountSignupRequest" type="tns:accountSignupRequest"/>
			<xsd:element name="accountLoginRequest" type="tns:accountLoginRequest"/>
			<xsd:element name="accountLogoutRequest" type="tns:accountLogoutRequest"/>
			<xsd:element name="accountSessionRequest" type="tns:accountSessionRequest"/>		
			<xsd:element name="eventInsertRequest" type="tns:eventInsertRequest"/>
			<xsd:element name="eventDeleteRequest" type="tns:eventDeleteRequest" />
			<xsd:element name="eventUpdateRequest" type="tns:eventUpdateRequest" />			 
			 
			<xsd:element name="attractionInsertRequest" type="tns:attractionInsertRequest" />
			<xsd:element name="attractionDeleteRequest" type="tns:attractionDeleteRequest" />
			<xsd:element name="attractionUpdateRequest" type="tns:attractionUpdateRequest" />

			<xsd:element name="eventResearchRequest" type="tns:eventResearchRequest" />
			<xsd:element name="attractionResearchRequest" type="tns:attractionResearchRequest" />
			<xsd:element name="eventByCreatorResearchRequest" type="tns:eventByCreatorResearchRequest" />
			<xsd:element name="attractionByCreatorResearchRequest" type="tns:attractionByCreatorResearchRequest" />
			<xsd:element name="eventDetailResearchRequest" type="tns:eventDetailResearchRequest" />
			<xsd:element name="attractionDetailResearchRequest" type="tns:attractionDetailResearchRequest" />			
			
			<xsd:element name="accountSignupResponse" type="tns:accountSignupResponse"/>
			<xsd:element name="accountLoginResponse" type="tns:accountLoginResponse"/>
			<xsd:element name="accountLogoutResponse" type="tns:accountLogoutResponse"/>
			<xsd:element name="accountSessionResponse" type="tns:accountSessionResponse"/>	
				
			<xsd:element name="eventInsertResponse" type="tns:eventInsertResponse"/>
			<xsd:element name="eventDeleteResponse" type="tns:eventDeleteResponse" />
			<xsd:element name="eventUpdateResponse" type="tns:eventUpdateResponse" />		
			
			<xsd:element name="attractionInsertResponse" type="tns:attractionInsertResponse" />
			<xsd:element name="attractionDeleteResponse" type="tns:attractionDeleteResponse" />
			<xsd:element name="attractionUpdateResponse" type="tns:attractionUpdateResponse" />
			
			<xsd:element name="attractionInsertFault" type="tns:attractionInsertFault" />
			<xsd:element name="attractionDeleteFault" type="tns:attractionDeleteFault" />
			<xsd:element name="attractionUpdateFault" type="tns:attractionUpdateFault" />
			
			<xsd:element name="attractionResearchResponse" type="tns:attractionResearchResponse" />
			<xsd:element name="eventResearchResponse" type="tns:eventResearchResponse" />
			<xsd:element name="eventByCreatorResearchResponse" type="tns:eventByCreatorResearchResponse" />
			<xsd:element name="attractionByCreatorResearchResponse" type="tns:attractionByCreatorResearchResponse" />
			<xsd:element name="attractionDetailResearchResponse" type="tns:attractionDetailResearchResponse" />
			<xsd:element name="eventDetailResearchResponse" type="tns:eventDetailResearchResponse" />
				
			<xsd:element name="accountSignupFault" type="tns:accountSignupFault"/>
			<xsd:element name="accountLoginFault" type="tns:accountLoginFault"/>
			<xsd:element name="accountLogoutFault" type="tns:accountLogoutFault"/>
			<xsd:element name="accountSessionFault" type="tns:accountSessionFault"/>		
			<xsd:element name="eventInsertFault" type="tns:eventInsertFault"/>
			<xsd:element name="eventDeleteFault" type="tns:eventDeleteFault" />
			<xsd:element name="eventUpdateFault" type="tns:eventUpdateFault" />
			
			<xsd:element name="eventResearchFault" type="tns:eventResearchFault" />
			<xsd:element name="attractionResearchFault" type="tns:attractionResearchFault" />
			<xsd:element name="eventByCreatorResearchFault" type="tns:eventByCreatorResearchFault" />
			<xsd:element name="attractionByCreatorResearchFault" type="tns:attractionByCreatorResearchFault" />
			<xsd:element name="eventDetailResearchFault" type="tns:eventDetailResearchFault" />
			<xsd:element name="attractionDetailResearchFault" type="tns:attractionDetailResearchFault" />
			 
			<xsd:element name="googleGeocodingResponse" type="tns:googleGeocodingResponse"/>
			<xsd:element name="googleGeocodingRequest" type="tns:googleGeocodingRequest"/>
			<xsd:element name="googleGeocodingFault" type="tns:googleGeocodingFault"/>
		 	  
		 	  
			<xsd:element name="categoryResearchRequest" type="tns:categoryResearchRequest" />
			<xsd:element name="categoryResearchResponse" type="tns:categoryResearchResponse" />
			<xsd:element name="categoryResearchFault" type="tns:categoryResearchFault" />

			
			<!-- Account Signup --> 
			<!-- Request -->
			<xsd:complexType name="accountSignupRequest"> 
				<xsd:sequence> 
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
				
			<!-- Response -->
			<xsd:complexType name="accountSignupResponse">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Fault-->
			<xsd:complexType name="accountSignupFault">
				<xsd:sequence>
		        	<xsd:element name="faultInsert" type="xsd:string" />
		            <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Account Login -->
			<!-- Request -->
			<xsd:complexType name="accountLoginRequest">
				<xsd:sequence>
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="accountLoginResponse">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Fault-->
			<xsd:complexType name="accountLoginFault">
				<xsd:sequence>
		        	<xsd:element name="faultInsert" type="xsd:string" />
		            <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
				
			<!-- Account Logout -->
			<!-- Request -->
			<xsd:complexType name="accountLogoutRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="accountLogoutResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Fault -->
			<xsd:complexType name="accountLogoutFault">
				<xsd:sequence>
		        	<xsd:element name="faultInsert" type="xsd:string" />
		            <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
				
			<!-- CheckSession -->
			<!-- Request -->
			<xsd:complexType name="accountSessionRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="accountSessionResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Fault -->
			<xsd:complexType name="accountSessionFault">
				<xsd:sequence>
		        	<xsd:element name="faultInsert" type="xsd:string" />
		            <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>	
			
			<!-- Insert Event -->
			<!-- Request -->
			<xsd:complexType name="eventInsertRequest">
				<xsd:sequence>
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />
					<xsd:element name="lat" type="xsd:string" />
					<xsd:element name="lng" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="eventInsertResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="eventInsertFault">
				<xsd:sequence>
	            	<xsd:element name="faultInfo" type="xsd:string" />
	                <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Delete Event -->
			<!-- Request -->
			<xsd:complexType name="eventDeleteRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="userId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="eventDeleteResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="eventDeleteFault">
				<xsd:sequence>
	        		<xsd:element name="faultInfo" type="xsd:string" />
	                <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Update Event -->
			<!-- Request -->
			<xsd:complexType name="eventUpdateRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />
					<xsd:element name="lat" type="xsd:string" />
					<xsd:element name="lng" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="eventUpdateResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="eventUpdateFault">
				<xsd:sequence>
	            	<xsd:element name="faultInfo" type="xsd:string" />
	                <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		   
			<!-- Insert Attraction -->
			<!-- Request -->
			<xsd:complexType name="attractionInsertRequest">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />
					<xsd:element name="lat" type="xsd:string" />
					<xsd:element name="lng" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="attractionInsertResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="attractionInsertFault">
				<xsd:sequence>
		        	<xsd:element name="faultInfo" type="xsd:string" />
		           	<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		
			<!-- Delete Attraction -->
			<!-- Request -->
			<xsd:complexType name="attractionDeleteRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="userId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="attractionDeleteResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="attractionDeleteFault">
				<xsd:sequence>
		        	<xsd:element name="faultInfo" type="xsd:string" />
		            <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		
			<!-- Update Attraction -->
			<!-- Request -->
			<xsd:complexType name="attractionUpdateRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />
					<xsd:element name="lat" type="xsd:string" />
					<xsd:element name="lng" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			 
			<!-- Response -->
			<xsd:complexType name="attractionUpdateResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="attractionUpdateFault">
				<xsd:sequence>
		        	<xsd:element name="faultInfo" type="xsd:string" />
		            <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
							
			<xsd:complexType name="attractionsList" type="tns:attractionsList">
				<xsd:sequence>
					<xsd:element name="attractionElement" maxOccurs="unbounded" type="tns:attractionElement" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="attractionElement">
			      <xsd:sequence>
			      	<xsd:element name="id" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />	
					<xsd:element name="lat" type="xsd:string" />
					<xsd:element name="lng" type="xsd:string" />
			      </xsd:sequence>
			</xsd:complexType>
					
			<xsd:complexType name="eventsList" type="tns:eventsList">
				<xsd:sequence>
					<xsd:element name="eventElement" maxOccurs="unbounded" type="tns:eventElement"/>
				</xsd:sequence>
			</xsd:complexType>
			 
			<xsd:complexType name="eventElement">
			      <xsd:sequence>
			      	<xsd:element name="id" type="xsd:long" />
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />	
					<xsd:element name="lat" type="xsd:string" />
					<xsd:element name="lng" type="xsd:string" />	
			      </xsd:sequence>
			</xsd:complexType>
			
			
			<xsd:element name="categoryList" type="tns:categoryList" />			
		
			<xsd:complexType name="categoryList">
				<xsd:sequence>
					<xsd:element name="categoryElement" maxOccurs="unbounded" type="tns:categoryElement"/>
				</xsd:sequence>
			</xsd:complexType>
			 
			<xsd:complexType name="categoryElement">
			      <xsd:sequence>
			      	<xsd:element name="id" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />		
			      </xsd:sequence>
			</xsd:complexType>

			
		
			
			<!-- Research Event by Filter -->
			<!-- Request -->
			<xsd:complexType name="eventResearchRequest">
				<xsd:sequence>
					<xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1"  />
					<xsd:element name="locality" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="date" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
					<xsd:element name="categoryId" type="xsd:long" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="eventResearchResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />	
					<xsd:element name="eventsList" type="tns:eventsList" />										
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="eventResearchFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Attraction by Filter -->
			<!-- Request -->
			<xsd:complexType name="attractionResearchRequest">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="locality" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="categoryId" type="xsd:long" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="attractionResearchResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />	
					<xsd:element name="attractionsList" type="tns:attractionsList" />										
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="attractionResearchFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Research Event by Creator -->
			<!-- Request -->
			<xsd:complexType name="eventByCreatorResearchRequest">
				<xsd:sequence>
					<xsd:element name="creatorId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="eventByCreatorResearchResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />	
					<xsd:element name="eventsList" type="tns:eventsList" />										
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="eventByCreatorResearchFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Attraction by Creator -->
			<!-- Request -->
			<xsd:complexType name="attractionByCreatorResearchRequest">
				<xsd:sequence>
					<xsd:element name="creatorId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="attractionByCreatorResearchResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />	
					<xsd:element name="attractionsList" type="tns:attractionsList" />										
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="attractionByCreatorResearchFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Event Detail -->
			<!-- Request -->
			<xsd:complexType name="eventDetailResearchRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="eventDetailResearchResponse">
			      <xsd:sequence>
			      	<xsd:element name="eventElement" type="tns:eventElement" />	
			      	<xsd:element name="message" type="xsd:string" />	
			      </xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="eventDetailResearchFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Attraction Detail -->
			<!-- Request -->
			<xsd:complexType name="attractionDetailResearchRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="attractionDetailResearchResponse">
				<xsd:sequence>
					<xsd:element name="attractionElement" type="tns:attractionElement" />
					<xsd:element name="message" type="xsd:string" />
					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="attractionDetailResearchFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
				
			<!-- Google Geocoding -->
			<!-- Request -->
			<xsd:complexType name="googleGeocodingRequest">
				<xsd:sequence>
					<xsd:element name="locality" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="googleGeocodingResponse">
				<xsd:sequence>
					<xsd:element name="lat" type="xsd:string" />
					<xsd:element name="lng" type="xsd:string" />
					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="googleGeocodingFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Research Category -->
			<!-- Request -->
			<xsd:complexType name="categoryResearchRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="categoryResearchResponse">
				<xsd:sequence>
					<xsd:element name="categoryList" type="tns:categoryList" />
					<xsd:element name="message" type="xsd:string" />
					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="categoryResearchFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			
			
		</xsd:schema>
	 </wsdl:types>
  
  	<!-- MESSAGES -->
  	<!-- Account Signup -->
	<wsdl:message name="accountSignupRequest">
    	<wsdl:part name="parameters" element="tns:accountSignupRequest"/>
    </wsdl:message>
    <wsdl:message name="accountSignupResponse">
        <wsdl:part name="parameters" element="tns:accountSignupResponse"/>
    </wsdl:message>
    <wsdl:message name="accountSignupFault">
        <wsdl:part name="parameters" element="tns:accountLoginFault"/>
    </wsdl:message>
    
    <!-- Account Login -->
	<wsdl:message name="accountLoginRequest">
        <wsdl:part name="parameters" element="tns:accountLoginRequest"/>
    </wsdl:message>
    <wsdl:message name="accountLoginResponse">
        <wsdl:part name="parameters" element="tns:accountLoginResponse"/>
    </wsdl:message>
    <wsdl:message name="accountLoginFault">
        <wsdl:part name="parameters" element="tns:accountLoginFault"/>
    </wsdl:message>
    
    <!-- Account Logout -->
	<wsdl:message name="accountLogoutRequest">
        <wsdl:part name="parameters" element="tns:accountLogoutRequest"/>
    </wsdl:message>
    <wsdl:message name="accountLogoutResponse">
        <wsdl:part name="parameters" element="tns:accountLogoutResponse"/>
    </wsdl:message>
    <wsdl:message name="accountLogoutFault">
        <wsdl:part name="parameters" element="tns:accountLogoutFault"/>
    </wsdl:message>
    
     <!-- Check Session -->
	<wsdl:message name="accountSessionRequest">
        <wsdl:part name="parameters" element="tns:accountSessionRequest"/>
    </wsdl:message>
    <wsdl:message name="accountSessionResponse">
        <wsdl:part name="parameters" element="tns:accountSessionResponse"/>
    </wsdl:message>
    <wsdl:message name="accountSessionFault">
        <wsdl:part name="parameters" element="tns:accountSessionFault"/>
    </wsdl:message>
  	
  	<!-- Insert Event -->
	<wsdl:message name="eventInsertRequest">
		<wsdl:part name="parameters" element="tns:eventInsertRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventInsertResponse">
		<wsdl:part name="parameters" element="tns:eventInsertResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventInsertFault">
		<wsdl:part name="parameters" element="tns:eventInsertFault">
		</wsdl:part>
	</wsdl:message>
	
	<!-- Delete Event -->
	<wsdl:message name="eventDeleteRequest">
		<wsdl:part name="parameters" element="tns:eventDeleteRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventDeleteResponse">
		<wsdl:part name="parameters" element="tns:eventDeleteResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventDeleteFault">
		<wsdl:part name="parameters" element="tns:eventDeleteFault">
		</wsdl:part>
	</wsdl:message>
	
	<!-- Update Event -->
	<wsdl:message name="eventUpdateRequest">
		<wsdl:part name="parameters" element="tns:eventUpdateRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventUpdateResponse">
		<wsdl:part name="parameters" element="tns:eventUpdateResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventUpdateFault">
		<wsdl:part name="parameters" element="tns:eventUpdateFault">
		</wsdl:part>
	</wsdl:message>
	
	<!-- Insert Attraction -->
	<wsdl:message name="attractionInsertRequest">
		<wsdl:part name="parameters" element="tns:attractionInsertRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionInsertResponse">
		<wsdl:part name="parameters" element="tns:attractionInsertResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionInsertFault">
		<wsdl:part name="parameters" element="tns:attractionInsertFault">
		</wsdl:part>
	</wsdl:message>
	
	<!-- Delete Attraction -->
	<wsdl:message name="attractionDeleteRequest">
		<wsdl:part name="parameters" element="tns:attractionDeleteRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionDeleteResponse">
		<wsdl:part name="parameters" element="tns:attractionDeleteResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionDeleteFault">
		<wsdl:part name="parameters" element="tns:attractionDeleteFault">
		</wsdl:part>
	</wsdl:message>
	
	<!-- Update Attraction -->
	<wsdl:message name="attractionUpdateRequest">
		<wsdl:part name="parameters" element="tns:attractionUpdateRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionUpdateResponse">
		<wsdl:part name="parameters" element="tns:attractionUpdateResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionUpdateFault">
		<wsdl:part name="parameters" element="tns:attractionUpdateFault">
		</wsdl:part>
	</wsdl:message>
  	
  	<!-- Messages -->
	<!-- Research Event By Filter -->
	<wsdl:message name="eventResearchRequest">
		<wsdl:part name="parameters" element="tns:eventResearchRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventResearchResponse">
		<wsdl:part name="parameters" element="tns:eventResearchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventResearchFault">
		<wsdl:part name="parameters" element="tns:eventResearchFault">
		</wsdl:part>
	</wsdl:message>
	
	<!-- Messages -->
	<!-- Research Event by Creator -->
	<wsdl:message name="eventByCreatorResearchRequest">
		<wsdl:part name="parameters" element="tns:eventByCreatorResearchRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventByCreatorResearchResponse">
		<wsdl:part name="parameters" element="tns:eventByCreatorResearchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventByCreatorResearchFault">
		<wsdl:part name="parameters" element="tns:eventByCreatorResearchFault">
		</wsdl:part>
	</wsdl:message>
	
	
	<!-- Messages -->
	<!-- Research Event Details -->
	<wsdl:message name="eventDetailResearchRequest">
		<wsdl:part name="parameters" element="tns:eventDetailResearchRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventDetailResearchResponse">
		<wsdl:part name="parameters" element="tns:eventDetailResearchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventDetailResearchFault">
		<wsdl:part name="parameters" element="tns:eventDetailResearchFault">
		</wsdl:part>
	</wsdl:message>
	
	
	<!-- Messages -->
	<!-- Research Attractions By Filter -->
	<wsdl:message name="attractionResearchRequest">
		<wsdl:part name="parameters" element="tns:attractionResearchRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionResearchResponse">
		<wsdl:part name="parameters" element="tns:attractionResearchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionResearchFault">
		<wsdl:part name="parameters" element="tns:attractionResearchFault">
		</wsdl:part>
	</wsdl:message>
	
	<!-- Messages -->
	<!-- Research Attraction by Creator -->
	<wsdl:message name="attractionByCreatorResearchRequest">
		<wsdl:part name="parameters" element="tns:attractionByCreatorResearchRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionByCreatorResearchResponse">
		<wsdl:part name="parameters" element="tns:attractionByCreatorResearchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionByCreatorResearchFault">
		<wsdl:part name="parameters" element="tns:attractionByCreatorResearchFault">
		</wsdl:part>
	</wsdl:message>
	
	
	<!-- Messages -->
	<!-- Research Attraction Details -->
	<wsdl:message name="attractionDetailResearchRequest">
		<wsdl:part name="parameters" element="tns:attractionDetailResearchRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionDetailResearchResponse">
		<wsdl:part name="parameters" element="tns:attractionDetailResearchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="attractionDetailResearchFault">
		<wsdl:part name="parameters" element="tns:attractionDetailResearchFault">
		</wsdl:part>
	</wsdl:message>
	
	
	<!-- Messages -->
	<!-- Google Geocoding -->
	<wsdl:message name="googleGeocodingRequest">
		<wsdl:part name="parameters" element="tns:googleGeocodingRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="googleGeocodingResponse">
		<wsdl:part name="parameters" element="tns:googleGeocodingResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="googleGeocodingFault">
		<wsdl:part name="parameters" element="tns:googleGeocodingFault">
		</wsdl:part>
	</wsdl:message>
	
	
	
	<!-- Messages -->
	<!-- Research Category -->
	<wsdl:message name="categoryResearchRequest">
		<wsdl:part name="parameters" element="tns:categoryResearchRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="categoryResearchResponse">
		<wsdl:part name="parameters" element="tns:categoryResearchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="categoryResearchFault">
		<wsdl:part name="parameters" element="tns:categoryResearchFault">
		</wsdl:part>
	</wsdl:message>


	
  	
  	<!-- Prosumer Port -->
    <wsdl:portType name="prosumerPT">
		<wsdl:operation name="userSignup">
	        <wsdl:input name="accountSignupRequest" message="tns:accountSignupRequest" />
	        <wsdl:output name="accountSignupResponse" message="tns:accountSignupResponse"/>
			<wsdl:fault name="accountSignupFault" message="tns:accountSignupFault"/>
	    </wsdl:operation>		
	    <wsdl:operation name="userLogin">
	        <wsdl:input name="accountLoginRequest" message="tns:accountLoginRequest" />
	        <wsdl:output name="accountLoginResponse" message="tns:accountLoginResponse"/>
			<wsdl:fault name="accountLoginFault" message="tns:accountLoginFault"/>
		</wsdl:operation>	
	    <wsdl:operation name="userLogout">
	    	<wsdl:input name="accountLogoutRequest" message="tns:accountLogoutRequest" />
	        <wsdl:output name="accountLogoutResponse" message="tns:accountLogoutResponse"/>
			<wsdl:fault name="accountLogoutFault" message="tns:accountLogoutFault"/>
	    </wsdl:operation>	
	    <wsdl:operation name="accountSession">
	    	<wsdl:input name="accountSessionRequest" message="tns:accountSessionRequest" />
	        <wsdl:output name="accountSessionResponse" message="tns:accountSessionResponse"/>
			<wsdl:fault name="accountSessionFault" message="tns:accountSessionFault"/>
	    </wsdl:operation>
	    <wsdl:operation name="eventInsert">
			<wsdl:input name="eventInsertRequest" message="tns:eventInsertRequest" />
			<wsdl:output name="eventInsertResponse" message="tns:eventInsertResponse" />
			<wsdl:fault name="eventInsertFault" message="tns:eventInsertFault" />
		</wsdl:operation>
		<wsdl:operation name="eventDelete">
			<wsdl:input name="eventDeleteRequest" message="tns:eventDeleteRequest" />
			<wsdl:output name="eventDeleteResponse" message="tns:eventDeleteResponse" />
			<wsdl:fault name="eventDeleteFault" message="tns:eventDeleteFault" />
		</wsdl:operation>
		<wsdl:operation name="eventUpdate">
			<wsdl:input name="eventUpdateRequest" message="tns:eventUpdateRequest" />
			<wsdl:output name="eventUpdateResponse" message="tns:eventUpdateResponse" />
			<wsdl:fault name="eventUpdateFault" message="tns:eventUpdateFault" />
		</wsdl:operation>
		
		<wsdl:operation name="attractionInsert">
			<wsdl:input name="attractionInsertRequest" message="tns:attractionInsertRequest" />
			<wsdl:output name="attractionInsertResponse" message="tns:attractionInsertResponse" />
			<wsdl:fault name="attractionInsertFault" message="tns:attractionInsertFault" />
		</wsdl:operation>
		<wsdl:operation name="attractionDelete">
			<wsdl:input name="attractionDeleteRequest" message="tns:attractionDeleteRequest" />
			<wsdl:output name="attractionDeleteResponse" message="tns:attractionDeleteResponse" />
			<wsdl:fault name="attractionDeleteFault" message="tns:attractionDeleteFault" />
		</wsdl:operation>
		<wsdl:operation name="attractionUpdate">
			<wsdl:input name="attractionUpdateRequest" message="tns:attractionUpdateRequest" />
			<wsdl:output name="attractionUpdateResponse" message="tns:attractionUpdateResponse" />
			<wsdl:fault name="attractionUpdateFault" message="tns:attractionUpdateFault" />
		</wsdl:operation>
		<wsdl:operation name="eventResearch">
			<wsdl:input name="eventResearchRequest" message="tns:eventResearchRequest" />
			<wsdl:output name="eventResearchResponse" message="tns:eventResearchResponse" />
			<wsdl:fault name="eventResearchFault" message="tns:eventResearchFault" />
		</wsdl:operation>
		<wsdl:operation name="eventByCreatorResearch">
			<wsdl:input name="eventByCreatorResearchRequest" message="tns:eventByCreatorResearchRequest" />
			<wsdl:output name="eventByCreatorResearchResponse" message="tns:eventByCreatorResearchResponse" />
			<wsdl:fault name="eventByCreatorResearchFault" message="tns:eventByCreatorResearchFault" />
		</wsdl:operation>
		<wsdl:operation name="eventDetailResearch">
			<wsdl:input name="eventDetailResearchRequest" message="tns:eventDetailResearchRequest" />
			<wsdl:output name="eventDetailResearchResponse" message="tns:eventDetailResearchResponse" />
			<wsdl:fault name="eventDetailResearchFault" message="tns:eventDetailResearchFault" />
		</wsdl:operation>
		<wsdl:operation name="attractionResearch">
			<wsdl:input name="attractionResearchRequest" message="tns:attractionResearchRequest" />
			<wsdl:output name="attractionResearchResponse" message="tns:attractionResearchResponse" />
			<wsdl:fault name="attractionResearchFault" message="tns:attractionResearchFault" />
		</wsdl:operation>
		<wsdl:operation name="attractionByCreatorResearch">
			<wsdl:input name="attractionByCreatorResearchRequest" message="tns:attractionByCreatorResearchRequest" />
			<wsdl:output name="attractionByCreatorResearchResponse" message="tns:attractionByCreatorResearchResponse" />
			<wsdl:fault name="attractionByCreatorResearchFault" message="tns:attractionByCreatorResearchFault" />
		</wsdl:operation>
		<wsdl:operation name="attractionDetailResearch">
			<wsdl:input name="attractionDetailResearchRequest" message="tns:attractionDetailResearchRequest" />
			<wsdl:output name="attractionDetailResearchResponse" message="tns:attractionDetailResearchResponse" />
			<wsdl:fault name="attractionDetailResearchFault" message="tns:attractionDetailResearchFault" />
		</wsdl:operation>
		<wsdl:operation name="googleGeocoding">
			<wsdl:input name="googleGeocodingRequest" message="tns:googleGeocodingRequest" />
			<wsdl:output name="googleGeocodingResponse" message="tns:googleGeocodingResponse" />
			<wsdl:fault name="googleGeocodingFault" message="tns:googleGeocodingFault" />
		</wsdl:operation>
		<wsdl:operation name="categoryResearch">
			<wsdl:input name="categoryResearchRequest" message="tns:categoryResearchRequest" />
			<wsdl:output name="categoryResearchResponse" message="tns:categoryResearchResponse" />
			<wsdl:fault name="categoryResearchFault" message="tns:categoryResearchFault" />
		</wsdl:operation>
  	</wsdl:portType> 
  
  	<!-- Prosumer Binding -->
	<wsdl:binding name="prosumerBinding" type="tns:prosumerPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<!-- Account Signup -->
		<wsdl:operation name="userSignup">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output> 
		</wsdl:operation>
		<!-- Account Login -->
		<wsdl:operation name="userLogin">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Account Logout -->
		<wsdl:operation name="userLogout">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Account Check Session -->
		<wsdl:operation name="accountSession">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Event Insert -->
		<wsdl:operation name="eventInsert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Event Delete -->
		<wsdl:operation name="eventDelete">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Event Update -->
		<wsdl:operation name="eventUpdate">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input> 
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Attraction Insert -->
		<wsdl:operation name="attractionInsert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input> 
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Attraction Delete -->
		<wsdl:operation name="attractionDelete">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input> 
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Attraction Update -->
		<wsdl:operation name="attractionUpdate">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input> 
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="eventResearch">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="eventByCreatorResearch">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="eventDetailResearch">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="attractionResearch">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="attractionByCreatorResearch">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output> 
		</wsdl:operation>
		<wsdl:operation name="attractionDetailResearch">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input> 
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation> 
		<wsdl:operation name="googleGeocoding">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input> 
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation> 
		<wsdl:operation name="categoryResearch">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input> 
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation> 
	</wsdl:binding>
	 
	<!-- Prosumer Service -->
  	<wsdl:service name="prosumerService">
	    <wsdl:port name="prosumerPort" binding="tns:prosumerBinding">
	      <soap:address location="http://localhost:8080/prosumer/services/prosumer"/>
	    </wsdl:port>
  	</wsdl:service>
</wsdl:definitions>
