archetype/prosumerArchetype/src/main/resources/archetype-resources/src/main/resources/__artifactId__.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://${groupId}/${artifactId}"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="${artifactIdClass}"
	targetNamespace="http://${groupId}/${artifactId}">
	<wsdl:types> 
		<xsd:schema
			targetNamespace="http://${groupId}/${artifactId}">
			<xsd:element name="request"
				type="tns:request" />
	
			<xsd:element name="response"
				type="tns:response" />
			
			<xsd:element name="fault"
				type="tns:fault" />

			<!-- Request -->
			<xsd:complexType name="request">
				<xsd:sequence>
					<xsd:element name="param" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Response -->
			<xsd:complexType name="response">
				<xsd:sequence>
					<xsd:element name="param" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Fault -->
			<xsd:complexType name="fault">
				<xsd:sequence>
					<xsd:element name="param" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGES -->
	<wsdl:message name="request">
		<wsdl:part name="parameters"
			element="tns:request" />
	</wsdl:message>
	<wsdl:message name="response">
		<wsdl:part name="parameters"
			element="tns:response" />
	</wsdl:message>
	<wsdl:message name="fault">
		<wsdl:part name="parameters" element="tns:fault" />
	</wsdl:message>

	<!-- Port -->
	<wsdl:portType name="${artifactIdClass}PT">
		<wsdl:operation name="operationName">
			<wsdl:input name="request"
				message="tns:request" />
			<wsdl:output name="response"
				message="tns:response" />
			<wsdl:fault name="fault"
				message="tns:fault" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="${artifactIdClass}Binding" type="tns:${artifactIdClass}PT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="operationName">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation> 
	</wsdl:binding>

	<!-- Service -->
	<wsdl:service name="${artifactIdClass}Service">
		<wsdl:port name="${artifactIdClass}Port" binding="tns:${artifactIdClass}Binding">
			<soap:address
				location="http://localhost:8080/${artifactId}/services/${artifactId}" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
