guidApp_backend/loadbalancer/src/main/resources/loadBalancer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="loadBalancerService"
	targetNamespace="http://it.univaq.disim.sose.touristicguide/loadBalancer"
	xmlns:tns="http://it.univaq.disim.sose.touristicguide/loadBalancer"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<types>
		<xsd:schema
			targetNamespace="http://it.univaq.disim.sose.touristicguide/loadBalancer">
			<xsd:element name="getServerInfoRequest"
				type="tns:getServerInfoRequest" />
			<xsd:element name="getServerInfoResponse"
				type="tns:getServerInfoResponse" />
			<xsd:element name="getServerInfoFault"
				type="tns:getServerInfoFault" />

			<!-- get server info -->
			<!-- Request -->
			<xsd:complexType name="getServerInfoRequest">
				<xsd:sequence>
					<xsd:element name="serviceName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Response -->
			<xsd:complexType name="getServerInfoResponse">
				<xsd:sequence>
					<xsd:element name="serverPort" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Fault -->
			<xsd:complexType name="getServerInfoFault">
				<xsd:sequence>
					<xsd:element name="faultInfo" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>

	<!-- Message -->
	<!-- get server info -->
	<message name="getServerInfoRequest">
		<part name="parameters" element="tns:getServerInfoRequest">
		</part>
	</message>
	<message name="getServerInfoResponse">
		<part name="parameters" element="tns:getServerInfoResponse">
		</part>
	</message>
	<message name="getServerInfoFault">
		<part name="parameters" element="tns:getServerInfoFault">
		</part>
	</message>

	<!-- Port -->
	<portType name="loadBalancerPT">
		<operation name="getServerInfo">
			<input name="getServerInfoRequest" message="tns:getServerInfoRequest" />
			<output name="getServerInfoResponse"
				message="tns:getServerInfoResponse" />
			<fault name="getServerInfoFault" message="tns:getServerInfoFault" />
		</operation>
	</portType>

	<!-- Binding -->
	<binding name="loadBalancerBinding" type="tns:loadBalancerPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getServerInfo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<!-- Service -->
	<service name="LoadBalancerService">
		<port name="loadBalancerPort" binding="tns:loadBalancerBinding">
			<soap:address
				location="http://localhost:8080/loadbalancer/services/loadbalancer" />
		</port>
	</service>
</definitions>
