guidApp_backend/balanceagent/src/main/resources/balanceAgent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="balanceAgentService"
	targetNamespace="http://it.univaq.disim.sose.touristicguide/balanceAgent"
	xmlns:tns="http://it.univaq.disim.sose.touristicguide/balanceAgent"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose.touristicguide/balanceAgent">
			<xsd:element name="getServerScoreRequest"
				type="tns:getServerScoreRequest" />
			<xsd:element name="getServerScoreResponse"
				type="tns:getServerScoreResponse" />
			<xsd:element name="getServerScoreFault"
				type="tns:getServerScoreFault" />

			<!-- Get Server Score -->
			<!-- Request -->
			<xsd:complexType name="getServerScoreRequest">
				<xsd:sequence>
					<xsd:element name="serverUrl" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Response -->
			<xsd:complexType name="getServerScoreResponse">
				<xsd:sequence>
					<xsd:element name="score" type="xsd:double" />
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Fault -->
			<xsd:complexType name="getServerScoreFault">
				<xsd:sequence>
					<xsd:element name="faultInfo" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>

	<!-- Message -->
	<!-- Get Server -->
	<message name="getServerScoreRequest">
		<part name="parameters" element="tns:getServerScoreRequest">
		</part>
	</message>
	<message name="getServerScoreResponse">
		<part name="parameters" element="tns:getServerScoreResponse">
		</part>
	</message>
	<message name="getServerScoreFault">
		<part name="parameters" element="tns:getServerScoreFault">
		</part>
	</message>

	<!-- Port -->
	<portType name="balanceAgentPT">
		<operation name="getServerScore">
			<input name="getServerScoreRequest"
				message="tns:getServerScoreRequest" />
			<output name="getServerScoreResponse"
				message="tns:getServerScoreResponse" />
			<fault name="getServerScoreFault"
				message="tns:getServerScoreFault" />
		</operation>
	</portType>

	<!-- Binding -->
	<binding name="balanceAgentBinding" type="tns:balanceAgentPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getServerScore">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<!-- Service -->
	<service name="balanceAgentService">
		<port name="balanceAgentPort" binding="tns:balanceAgentBinding">
			<soap:address
				location="http://localhost:8080/balanceagent/services/balanceagent" />
		</port>
	</service>
</definitions>
