guidApp_backend/attractionmanager/src/main/resources/attractionManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AttractionManagerService"
	targetNamespace="http://it.univaq.disim.sose/attractionManager" 
	xmlns:tns="http://it.univaq.disim.sose/attractionManager"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	
	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose/attractionManager">
			<xsd:element name="insertAttractionRequest" type="tns:insertAttractionRequest" />
			<xsd:element name="insertAttractionResponse" type="tns:insertAttractionResponse" />
			<xsd:element name="insertAttractionFault" type="tns:insertAttractionFault" />
			<xsd:element name="deleteAttractionRequest" type="tns:deleteAttractionRequest" />
			<xsd:element name="deleteAttractionResponse" type="tns:deleteAttractionResponse" />
			<xsd:element name="deleteAttractionFault" type="tns:deleteAttractionFault" />
			<xsd:element name="updateAttractionRequest" type="tns:updateAttractionRequest" />
			<xsd:element name="updateAttractionResponse" type="tns:updateAttractionResponse" />
			<xsd:element name="updateAttractionFault" type="tns:updateAttractionFault" />
			<xsd:element name="checkSessionRequest" type="tns:checkSessionRequest" />
			<xsd:element name="checkSessionResponse" type="tns:checkSessionResponse" />
			<xsd:element name="checkSessionFault" type="tns:checkSessionFault" /> 
			
			<!-- Insert Attraction -->
			<!-- Request -->
			<xsd:complexType name="insertAttractionRequest">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />
					<xsd:element name="lat" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="lng" type="xsd:string" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="insertAttractionResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="insertAttractionFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Delete Attraction -->
			<!-- Request -->
			<xsd:complexType name="deleteAttractionRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="userId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="deleteAttractionResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="deleteAttractionFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Update Attraction -->
			<!-- Request -->
			<xsd:complexType name="updateAttractionRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />
					<xsd:element name="lat" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="lng" type="xsd:string" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			 
			<!-- Response -->
			<xsd:complexType name="updateAttractionResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="updateAttractionFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Check Session -->
			<!-- Request -->
			<xsd:complexType name="checkSessionRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="checkSessionResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="checkSessionFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	<!-- Messages -->
	<!-- Insert Attraction -->
	<message name="insertAttractionRequest">
		<part name="parameters" element="tns:insertAttractionRequest">
		</part>
	</message>
	<message name="insertAttractionResponse">
		<part name="parameters" element="tns:insertAttractionResponse">
		</part>
	</message>
	<message name="insertAttractionFault">
		<part name="parameters" element="tns:insertAttractionFault">
		</part>
	</message>
	
	<!-- Message -->
	<!-- Delete Attraction -->
	<message name="deleteAttractionRequest">
		<part name="parameters" element="tns:deleteAttractionRequest">
		</part>
	</message>
	<message name="deleteAttractionResponse">
		<part name="parameters" element="tns:deleteAttractionResponse">
		</part>
	</message>
	<message name="deleteAttractionFault">
		<part name="parameters" element="tns:deleteAttractionFault">
		</part>
	</message>
	
	<!-- Message -->
	<!-- Update Attraction -->
	<message name="updateAttractionRequest">
		<part name="parameters" element="tns:updateAttractionRequest">
		</part>
	</message>
	<message name="updateAttractionResponse">
		<part name="parameters" element="tns:updateAttractionResponse">
		</part>
	</message>
	<message name="updateAttractionFault">
		<part name="parameters" element="tns:updateAttractionFault">
		</part>
	</message>
	
	<!-- Check Session -->
	<message name="checkSessionRequest">
		<part name="parameters" element="tns:checkSessionRequest">
		</part>
	</message>
	<message name="checkSessionResponse">
		<part name="parameters" element="tns:checkSessionResponse">
		</part>
	</message>
	<message name="checkSessionFault">
		<part name="parameters" element="tns:checkSessionFault">
		</part>
	</message>
	
	<!-- Port -->
	<portType name="attractionManagerPT">
		<operation name="insertAttraction">
			<input name="insertAttractionRequest" message="tns:insertAttractionRequest" />
			<output name="insertAttractionResponse" message="tns:insertAttractionResponse" />
			<fault name="insertAttractionFault" message="tns:insertAttractionFault" />
		</operation>
		<operation name="deleteAttraction">
			<input name="deleteAttractionRequest" message="tns:deleteAttractionRequest" />
			<output name="deleteAttractionResponse" message="tns:deleteAttractionResponse" />
			<fault name="deleteAttractionFault" message="tns:deleteAttractionFault" />
		</operation>
		<operation name="updateAttraction">
			<input name="updateAttractionRequest" message="tns:updateAttractionRequest" />
			<output name="updateAttractionResponse" message="tns:updateAttractionResponse" />
			<fault name="updateAttractionFault" message="tns:updateAttractionFault" />
		</operation>
		<operation name="checkSession">
			<input name="checkSessionRequest" message="tns:checkSessionRequest" />
			<output name="checkSessionResponse" message="tns:checkSessionResponse" />
			<fault name="checkSessionFault" message="tns:checkSessionFault" />
		</operation>
	</portType>
	
	<!-- Binding -->
	<binding name="attractionManagerBinding" type="tns:attractionManagerPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			<operation name="insertAttraction">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output> 
		</operation>
		<operation name="deleteAttraction">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
				
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="updateAttraction">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
				
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	 
	<!-- Service -->
	<service name="AttractionManagerService">
		<port name="attractionManagerPort" binding="tns:attractionManagerBinding">
			<soap:address location="http://localhost:8080/attractionmanager/services/attractionmanager" />
		</port>
	</service>
</definitions>
