archetype/prosumerArchetype/src/main/resources/clients/researchManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ResearchManagerService"
	targetNamespace="http://it.univaq.disim.sose.touristicguide/researchManager" 
	xmlns:tns="http://it.univaq.disim.sose.touristicguide/researchManager"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	          
	<types>   
		<xsd:schema targetNamespace="http://it.univaq.disim.sose.touristicguide/researchManager">
			<xsd:element name="researchEventRequest" type="tns:researchEventRequest" />
			<xsd:element name="researchEventResponse" type="tns:researchEventResponse" />
			<xsd:element name="researchEventFault" type="tns:researchEventFault" />
			
			<xsd:element name="researchAttractionRequest" type="tns:researchAttractionRequest" />
			<xsd:element name="researchAttractionResponse" type="tns:researchAttractionResponse" />
			<xsd:element name="researchAttractionFault" type="tns:researchAttractionFault" />
			
			<xsd:element name="researchEventByCreatorRequest" type="tns:researchEventByCreatorRequest" />
			<xsd:element name="researchEventByCreatorResponse" type="tns:researchEventByCreatorResponse" />
			<xsd:element name="researchEventByCreatorFault" type="tns:researchEventByCreatorFault" />
			
			<xsd:element name="researchAttractionByCreatorRequest" type="tns:researchAttractionByCreatorRequest" />
			<xsd:element name="researchAttractionByCreatorResponse" type="tns:researchAttractionByCreatorResponse" />
			<xsd:element name="researchAttractionByCreatorFault" type="tns:researchAttractionByCreatorFault" />
			
			<xsd:element name="researchEventDetailRequest" type="tns:researchEventDetailRequest" />
			<xsd:element name="researchEventDetailResponse" type="tns:researchEventDetailResponse" />
			<xsd:element name="researchEventDetailFault" type="tns:researchEventDetailFault" />
			
			<xsd:element name="researchAttractionDetailRequest" type="tns:researchAttractionDetailRequest" />
			<xsd:element name="researchAttractionDetailResponse" type="tns:researchAttractionDetailResponse" />
			<xsd:element name="researchAttractionDetailFault" type="tns:researchAttractionDetailFault" />
			 
			<xsd:element name="researchCategoryRequest" type="tns:researchCategoryRequest" />
			<xsd:element name="researchCategoryResponse" type="tns:researchCategoryResponse" />
			<xsd:element name="researchCategoryFault" type="tns:researchCategoryFault" />
			
			<xsd:element name="attractionsList" type="tns:attractionsList" />
				
			<xsd:complexType name="attractionsList">
				<xsd:sequence>
					<xsd:element name="attractionElement" maxOccurs="unbounded" type="tns:attractionElement" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="attractionElement">
			      <xsd:sequence>
			      	<xsd:element name="id" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />	
					<xsd:element name="lat" type="xsd:string" />	
					<xsd:element name="lng" type="xsd:string" />	
			      </xsd:sequence>
			</xsd:complexType>
			
			
			<xsd:element name="eventsList" type="tns:eventsList" />			
		
			<xsd:complexType name="eventsList">
				<xsd:sequence>
					<xsd:element name="eventElement" maxOccurs="unbounded" type="tns:eventElement"/>
				</xsd:sequence>
			</xsd:complexType>
			 
			<xsd:complexType name="eventElement">
			      <xsd:sequence>
			      	<xsd:element name="id" type="xsd:long" />
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />		
					<xsd:element name="lat" type="xsd:string" />	
					<xsd:element name="lng" type="xsd:string" />		
			      </xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="categoryList" type="tns:categoryList" />			
		
			<xsd:complexType name="categoryList">
				<xsd:sequence>
					<xsd:element name="categoryElement" maxOccurs="unbounded" type="tns:categoryElement"/>
				</xsd:sequence>
			</xsd:complexType>
			 
			<xsd:complexType name="categoryElement">
			      <xsd:sequence>
			      	<xsd:element name="id" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />		
			      </xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Event by Filter -->
			<!-- Request -->
			<xsd:complexType name="researchEventRequest">
				<xsd:sequence>
					<xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1"  />
					<xsd:element name="locality" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="date" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
					<xsd:element name="categoryId" type="xsd:long" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="researchEventResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />	
					<xsd:element name="eventsList" type="tns:eventsList" />										
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="researchEventFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Attraction by Filter -->
			<!-- Request -->
			<xsd:complexType name="researchAttractionRequest">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="locality" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="categoryId" type="xsd:long" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="researchAttractionResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />	
					<xsd:element name="attractionsList" type="tns:attractionsList" />										
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="researchAttractionFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Research Event by Creator -->
			<!-- Request -->
			<xsd:complexType name="researchEventByCreatorRequest">
				<xsd:sequence>
					<xsd:element name="creatorId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="researchEventByCreatorResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />	
					<xsd:element name="eventsList" type="tns:eventsList" />										
				</xsd:sequence>
			</xsd:complexType>
					 
			<!-- Fault -->
			<xsd:complexType name="researchEventByCreatorFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Attraction by Creator -->
			<!-- Request -->
			<xsd:complexType name="researchAttractionByCreatorRequest">
				<xsd:sequence>
					<xsd:element name="creatorId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="researchAttractionByCreatorResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />	
					<xsd:element name="attractionsList" type="tns:attractionsList" />										
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="researchAttractionByCreatorFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Event Detail -->
			<!-- Request -->
			<xsd:complexType name="researchEventDetailRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="researchEventDetailResponse">
			      <xsd:sequence>
			      	<xsd:element name="eventElement" type="tns:eventElement" />	
			      	<xsd:element name="message" type="xsd:string" />	
			      </xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="researchEventDetailFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<!-- Research Attraction Detail -->
			<!-- Request -->
			<xsd:complexType name="researchAttractionDetailRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="researchAttractionDetailResponse">
				<xsd:sequence>
					<xsd:element name="attractionElement" type="tns:attractionElement" />
					<xsd:element name="message" type="xsd:string" />
					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="researchAttractionDetailFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Research Category -->
			<!-- Request -->
			<xsd:complexType name="researchCategoryRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="researchCategoryResponse">
				<xsd:sequence>
					<xsd:element name="categoryList" type="tns:categoryList" />
					<xsd:element name="message" type="xsd:string" />
					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="researchCategoryFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
	</types>
	
	<!-- Messages -->
	<!-- Research Event By Filter -->
	<message name="researchEventRequest">
		<part name="parameters" element="tns:researchEventRequest">
		</part>
	</message>
	<message name="researchEventResponse">
		<part name="parameters" element="tns:researchEventResponse">
		</part>
	</message>
	<message name="researchEventFault">
		<part name="parameters" element="tns:researchEventFault">
		</part>
	</message>
	
	<!-- Messages -->
	<!-- Research Event by Creator -->
	<message name="researchEventByCreatorRequest">
		<part name="parameters" element="tns:researchEventByCreatorRequest">
		</part>
	</message>
	<message name="researchEventByCreatorResponse">
		<part name="parameters" element="tns:researchEventByCreatorResponse">
		</part>
	</message>
	<message name="researchEventByCreatorFault">
		<part name="parameters" element="tns:researchEventByCreatorFault">
		</part>
	</message>
	
	
	<!-- Messages -->
	<!-- Research Event Details -->
	<message name="researchEventDetailRequest">
		<part name="parameters" element="tns:researchEventDetailRequest">
		</part>
	</message>
	<message name="researchEventDetailResponse">
		<part name="parameters" element="tns:researchEventDetailResponse">
		</part>
	</message>
	<message name="researchEventDetailFault">
		<part name="parameters" element="tns:researchEventDetailFault">
		</part>
	</message>
	
	
	<!-- Messages -->
	<!-- Research Attractions By Filter -->
	<message name="researchAttractionRequest">
		<part name="parameters" element="tns:researchAttractionRequest">
		</part>
	</message>
	<message name="researchAttractionResponse">
		<part name="parameters" element="tns:researchAttractionResponse">
		</part>
	</message>
	<message name="researchAttractionFault">
		<part name="parameters" element="tns:researchAttractionFault">
		</part>
	</message>
	
	<!-- Messages -->
	<!-- Research Attraction by Creator -->
	<message name="researchAttractionByCreatorRequest">
		<part name="parameters" element="tns:researchAttractionByCreatorRequest">
		</part>
	</message>
	<message name="researchAttractionByCreatorResponse">
		<part name="parameters" element="tns:researchAttractionByCreatorResponse">
		</part>
	</message>
	<message name="researchAttractionByCreatorFault">
		<part name="parameters" element="tns:researchAttractionByCreatorFault">
		</part>
	</message>
	
	
	<!-- Messages -->
	<!-- Research Attraction Details -->
	<message name="researchAttractionDetailRequest">
		<part name="parameters" element="tns:researchAttractionDetailRequest">
		</part>
	</message>
	<message name="researchAttractionDetailResponse">
		<part name="parameters" element="tns:researchAttractionDetailResponse">
		</part>
	</message>
	<message name="researchAttractionDetailFault">
		<part name="parameters" element="tns:researchAttractionDetailFault">
		</part>
	</message>
	
	<!-- Messages -->
	<!-- Research Category -->
	<message name="researchCategoryRequest">
		<part name="parameters" element="tns:researchCategoryRequest">
		</part>
	</message>
	<message name="researchCategoryResponse">
		<part name="parameters" element="tns:researchCategoryResponse">
		</part>
	</message>
	<message name="researchCategoryFault">
		<part name="parameters" element="tns:researchCategoryFault">
		</part>
	</message>
	
	
	<!-- Port -->
	<portType name="researchManagerPT">
		<operation name="researchEvent">
			<input name="researchEventRequest" message="tns:researchEventRequest" />
			<output name="researchEventResponse" message="tns:researchEventResponse" />
			<fault name="researchEventFault" message="tns:researchEventFault" />
		</operation>
		<operation name="researchEventByCreator">
			<input name="researchEventByCreatorRequest" message="tns:researchEventByCreatorRequest" />
			<output name="researchEventByCreatorResponse" message="tns:researchEventByCreatorResponse" />
			<fault name="researchEventByCreatorFault" message="tns:researchEventByCreatorFault" />
		</operation>
		<operation name="researchEventDetail">
			<input name="researchEventDetailRequest" message="tns:researchEventDetailRequest" />
			<output name="researchEventDetailResponse" message="tns:researchEventDetailResponse" />
			<fault name="researchEventDetailFault" message="tns:researchEventDetailFault" />
		</operation>
		<operation name="researchAttraction">
			<input name="researchAttractionRequest" message="tns:researchAttractionRequest" />
			<output name="researchAttractionResponse" message="tns:researchAttractionResponse" />
			<fault name="researchAttractionFault" message="tns:researchAttractionFault" />
		</operation>
		<operation name="researchAttractionByCreator">
			<input name="researchAttractionByCreatorRequest" message="tns:researchAttractionByCreatorRequest" />
			<output name="researchAttractionByCreatorResponse" message="tns:researchAttractionByCreatorResponse" />
			<fault name="researchAttractionByCreatorFault" message="tns:researchAttractionByCreatorFault" />
		</operation>
		<operation name="researchAttractionDetail">
			<input name="researchAttractionDetailRequest" message="tns:researchAttractionDetailRequest" />
			<output name="researchAttractionDetailResponse" message="tns:researchAttractionDetailResponse" />
			<fault name="researchAttractionDetailFault" message="tns:researchAttractionDetailFault" />
		</operation>
		<operation name="researchCategory">
			<input name="researchCategoryRequest" message="tns:researchCategoryRequest" />
			<output name="researchCategoryResponse" message="tns:researchCategoryResponse" />
			<fault name="researchCategoryFault" message="tns:researchCategoryFault" />
		</operation>
	</portType>
	
	<!-- Binding -->
	<binding name="researchManagerBinding" type="tns:researchManagerPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="researchEvent">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="researchEventByCreator">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="researchEventDetail">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="researchAttraction">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>	
		<operation name="researchAttractionByCreator">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="researchAttractionDetail">
			<soap:operation soapAction="" />  
			<input> 
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="researchCategory">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output> 
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	
	<!-- Service -->
	<service name="researchManagerService">
		<port name="researchManagerPort" binding="tns:researchManagerBinding">
			<soap:address location="http://localhost:8080/researchmanager/services/researchmanager" />
		</port>
	</service>
</definitions>
