archetype/prova/archetypetest/src/main/resources/archetypetest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://it.univaq.disim.sose.newprovider/archetypetest"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArchetypeTest"
	targetNamespace="http://it.univaq.disim.sose.newprovider/archetypetest">
	<wsdl:types> 
		<xsd:schema
			targetNamespace="http://it.univaq.disim.sose.newprovider/archetypetest">
			<xsd:element name="request"
				type="tns:request" />
	
			<xsd:element name="response"
				type="tns:response" />
			
			<xsd:element name="fault"
				type="tns:fault" />

			<!-- Request -->
			<xsd:complexType name="request">
				<xsd:sequence>
					<xsd:element name="param" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Response -->
			<xsd:complexType name="response">
				<xsd:sequence>
					<xsd:element name="param" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Fault -->
			<xsd:complexType name="fault">
				<xsd:sequence>
					<xsd:element name="param" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGES -->
	<wsdl:message name="request">
		<wsdl:part name="parameters"
			element="tns:request" />
	</wsdl:message>
	<wsdl:message name="response">
		<wsdl:part name="parameters"
			element="tns:response" />
	</wsdl:message>
	<wsdl:message name="fault">
		<wsdl:part name="parameters" element="tns:fault" />
	</wsdl:message>

	<!-- Port -->
	<wsdl:portType name="ArchetypeTestPT">
		<wsdl:operation name="operationName">
			<wsdl:input name="request"
				message="tns:request" />
			<wsdl:output name="response"
				message="tns:response" />
			<wsdl:fault name="fault"
				message="tns:fault" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="ArchetypeTestBinding" type="tns:ArchetypeTestPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="operationName">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation> 
	</wsdl:binding>

	<!-- Service -->
	<wsdl:service name="ArchetypeTestService">
		<wsdl:port name="ArchetypeTestPort" binding="tns:ArchetypeTestBinding">
			<soap:address
				location="http://localhost:8080/archetypetest/services/archetypetest" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
