guidApp_backend/prosumer/src/main/resources/clients/accountManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AccountManagerService"
	targetNamespace="http://it.univaq.disim.sose/accountManager" 
	xmlns:tns="http://it.univaq.disim.sose/accountManager"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	 
	<types> 
		<xsd:schema targetNamespace="http://it.univaq.disim.sose/accountManager">
			<xsd:element name="userSignupRequest" type="tns:userSignupRequest" />
			<xsd:element name="userSignupResponse" type="tns:userSignupResponse" />
			<xsd:element name="userSignupFault" type="tns:userSignupFault" />
			
			<xsd:element name="userLoginRequest" type="tns:userLoginRequest" />
			<xsd:element name="userLoginResponse" type="tns:userLoginResponse" />
			<xsd:element name="userLoginFault" type="tns:userLoginFault" />
			
			<xsd:element name="userLogoutRequest" type="tns:userLogoutRequest" />
			<xsd:element name="userLogoutResponse" type="tns:userLogoutResponse" />
			<xsd:element name="userLogoutFault" type="tns:userLogoutFault" />
			
			<xsd:element name="checkSessionRequest" type="tns:checkSessionRequest" />
			<xsd:element name="checkSessionResponse" type="tns:checkSessionResponse" />
			<xsd:element name="checkSessionFault" type="tns:checkSessionFault" />
			
			<!-- User Signup -->
			<!-- Request -->
			<xsd:complexType name="userSignupRequest">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string" />  <!--  vedere se rimuoverlo  -->
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="userSignupResponse">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="userSignupFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- User Login -->
			<!-- Request -->
			<xsd:complexType name="userLoginRequest">
				<xsd:sequence>
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="userLoginResponse">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
					<xsd:element name="id" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="userLoginFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- User Logout -->
			<!-- Request -->
			<xsd:complexType name="userLogoutRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="userLogoutResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="userLogoutFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Check Session -->
			<!-- Request -->
			<xsd:complexType name="checkSessionRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="checkSessionResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="checkSessionFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	<!-- Message -->
	<!-- User Signup -->
	<message name="userSignupRequest">
		<part name="parameters" element="tns:userSignupRequest">
		</part>
	</message>
	<message name="userSignupResponse">
		<part name="parameters" element="tns:userSignupResponse">
		</part>
	</message>
	<message name="userSignupFault">
		<part name="parameters" element="tns:userSignupFault">
		</part>
	</message>
	
	<!-- Message -->
	<!-- User Login -->
	<message name="userLoginRequest">
		<part name="parameters" element="tns:userLoginRequest">
		</part>
	</message>
	<message name="userLoginResponse">
		<part name="parameters" element="tns:userLoginResponse">
		</part>
	</message>
	<message name="userLoginFault">
		<part name="parameters" element="tns:userLoginFault">
		</part>
	</message>
	
	<!-- User Logout -->
	<message name="userLogoutRequest">
		<part name="parameters" element="tns:userLogoutRequest">
		</part>
	</message>
	<message name="userLogoutResponse">
		<part name="parameters" element="tns:userLogoutResponse">
		</part>
	</message>
	<message name="userLogoutFault">
		<part name="parameters" element="tns:userLogoutFault">
		</part>
	</message>
	
	<!-- Check Session -->
	<message name="checkSessionRequest">
		<part name="parameters" element="tns:checkSessionRequest">
		</part>
	</message>
	<message name="checkSessionResponse">
		<part name="parameters" element="tns:checkSessionResponse">
		</part>
	</message>
	<message name="checkSessionFault">
		<part name="parameters" element="tns:checkSessionFault">
		</part>
	</message>
	
	<!-- Port -->
	<portType name="accountManagerPT">
		<operation name="userSignup">
			<input name="userSignupRequest" message="tns:userSignupRequest" />
			<output name="userSignupResponse" message="tns:userSignupResponse" />
			<fault name="userSignupFault" message="tns:userSignupFault" />
		</operation>
		<operation name="userLogin">
			<input name="userLoginRequest" message="tns:userLoginRequest" />
			<output name="userLoginResponse" message="tns:userLoginResponse" />
			<fault name="userLoginFault" message="tns:userLoginFault" />
		</operation>
		<operation name="userLogout">
			<input name="userLogoutRequest" message="tns:userLogoutRequest" />
			<output name="userLogoutResponse" message="tns:userLogoutResponse" />
			<fault name="userLogoutFault" message="tns:userLogoutFault" />
		</operation>
		<operation name="checkSession">
			<input name="checkSessionRequest" message="tns:checkSessionRequest" />
			<output name="checkSessionResponse" message="tns:checkSessionResponse" />
			<fault name="checkSessionFault" message="tns:checkSessionFault" />
		</operation>
	</portType>
	
	<!-- Binding -->
	<binding name="accountManagerBinding" type="tns:accountManagerPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			<operation name="userSignup">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="userLogin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="userLogout">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="checkSession">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	
	<!-- Service -->
	<service name="AccountManagerService">
		<port name="accountManagerPort" binding="tns:accountManagerBinding">
			<soap:address location="http://localhost:8080/accountmanager/services/accountmanager" />
		</port>
	</service>
</definitions>
