guidApp_backend/prosumer/src/main/resources/clients/eventManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertEventService"
	targetNamespace="http://it.univaq.disim.sose/eventManager" 
	xmlns:tns="http://it.univaq.disim.sose/eventManager"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	 
	
	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose/eventManager">
			<xsd:element name="insertEventRequest" type="tns:insertEventRequest" />
			<xsd:element name="insertEventResponse" type="tns:insertEventResponse" />
			<xsd:element name="insertEventFault" type="tns:insertEventFault" />
			
			<xsd:element name="deleteEventRequest" type="tns:deleteEventRequest" />
			<xsd:element name="deleteEventResponse" type="tns:deleteEventResponse" />
			<xsd:element name="deleteEventFault" type="tns:deleteEventFault" />
			
			<xsd:element name="updateEventRequest" type="tns:updateEventRequest" />
			<xsd:element name="updateEventResponse" type="tns:updateEventResponse" />
			<xsd:element name="updateEventFault" type="tns:updateEventFault" />
			
			<xsd:element name="checkSessionRequest" type="tns:checkSessionRequest" />
			<xsd:element name="checkSessionResponse" type="tns:checkSessionResponse" />
			<xsd:element name="checkSessionFault" type="tns:checkSessionFault" /> 
			
			<!-- Insert Event -->
			<!-- Request -->
			<xsd:complexType name="insertEventRequest">
				<xsd:sequence>
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="insertEventResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="insertEventFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Delete Event -->
			<!-- Request -->
			<xsd:complexType name="deleteEventRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="userId" type="xsd:long" />
					
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="deleteEventResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="deleteEventFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Update Event -->
			<!-- Request -->
			<xsd:complexType name="updateEventRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="locality" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
					<xsd:element name="categoryName" type="xsd:string" />
					<xsd:element name="categoryId" type="xsd:long" />
					<xsd:element name="creatorId" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="updateEventResponse">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />					
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="updateEventFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			
			<!-- Check Session -->
			<!-- Request -->
			<xsd:complexType name="checkSessionRequest">
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Response -->
			<xsd:complexType name="checkSessionResponse">
				<xsd:sequence>
					<xsd:element name="response" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
					
			<!-- Fault -->
			<xsd:complexType name="checkSessionFault">
				<xsd:sequence>
                        <xsd:element name="faultInfo" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	<!-- Messages -->
	<!-- Insert Event -->
	<message name="insertEventRequest">
		<part name="parameters" element="tns:insertEventRequest">
		</part>
	</message>
	<message name="insertEventResponse">
		<part name="parameters" element="tns:insertEventResponse">
		</part>
	</message>
	<message name="insertEventFault">
		<part name="parameters" element="tns:insertEventFault">
		</part>
	</message>
	
	<!-- Message -->
	<!-- Delete Event -->
	<message name="deleteEventRequest">
		<part name="parameters" element="tns:deleteEventRequest">
		</part>
	</message>
	<message name="deleteEventResponse">
		<part name="parameters" element="tns:deleteEventResponse">
		</part>
	</message>
	<message name="deleteEventFault">
		<part name="parameters" element="tns:deleteEventFault">
		</part>
	</message>
	
	
	<!-- Messages -->
	<!-- Update Event -->
	<message name="updateEventRequest">
		<part name="parameters" element="tns:updateEventRequest">
		</part>
	</message>
	<message name="updateEventResponse">
		<part name="parameters" element="tns:updateEventResponse">
		</part>
	</message>
	<message name="updateEventFault">
		<part name="parameters" element="tns:updateEventFault">
		</part>
	</message>
	
	<!-- Check Session -->
	<message name="checkSessionRequest">
		<part name="parameters" element="tns:checkSessionRequest">
		</part>
	</message>
	<message name="checkSessionResponse">
		<part name="parameters" element="tns:checkSessionResponse">
		</part>
	</message>
	<message name="checkSessionFault">
		<part name="parameters" element="tns:checkSessionFault">
		</part>
	</message>
	
	<!-- Port -->
	<portType name="eventManagerPT">
		<operation name="insertEvent">
			<input name="insertEventRequest" message="tns:insertEventRequest" />
			<output name="insertEventResponse" message="tns:insertEventResponse" />
			<fault name="insertEventFault" message="tns:insertEventFault" />
		</operation>
		<operation name="deleteEvent">
			<input name="deleteEventRequest" message="tns:deleteEventRequest" />
			<output name="deleteEventResponse" message="tns:deleteEventResponse" />
			<fault name="deleteEventFault" message="tns:deleteEventFault" />
		</operation>
		<operation name="updateEvent">
			<input name="updateEventRequest" message="tns:updateEventRequest" />
			<output name="updateEventResponse" message="tns:updateEventResponse" />
			<fault name="updateEventFault" message="tns:updateEventFault" />
		</operation>
		<operation name="checkSession">
			<input name="checkSessionRequest" message="tns:checkSessionRequest" />
			<output name="checkSessionResponse" message="tns:checkSessionResponse" />
			<fault name="checkSessionFault" message="tns:checkSessionFault" />
		</operation>
	</portType>
	
	<!-- Binding -->
	<binding name="eventManagerBinding" type="tns:eventManagerPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			<operation name="insertEvent">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteEvent">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		
		<operation name="updateEvent">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	
	<!-- Service -->
	<service name="eventManagerService">
		<port name="eventManagerPort" binding="tns:eventManagerBinding">
			<soap:address location="http://localhost:8080/eventmanager/services/eventmanager" />
		</port>
	</service>
</definitions>
